* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #373737;
}

#app {
    max-width: 375px;
    height: 755px;
    margin: 1% auto;
    background: #fff;
}

.card {
    background: red;
    padding: 36px;
    cursor: pointer;
}